esphome:
  name: "${name}"
  friendly_name: Apollo MTR-1
  comment: Apollo MTR-1
  name_add_mac_suffix: true

  project:
    name: "ApolloAutomation.MTR-1"
    version: "${version}"

  min_version: 2025.8.0
  on_boot:
    priority: -10
    then:
      - if:
          condition:
            - lambda: "return id(runTest);"
          then:
            - lambda: "id(testScript).execute();"
  
dashboard_import:
  package_import_url: github://ApolloAutomation/MTR-1/Integrations/ESPHome/MTR-1_Factory.yaml
  import_full_config: false

improv_serial:

esp32_improv:
  authorizer: none

wifi:
  on_connect:
    - delay: 5s  
    - ble.disable:
  on_disconnect:
    - ble.enable:
  ap:
    ssid: "Apollo MTR1 Hotspot"

logger:
  level: WARN

ota:
  - platform: esphome
    id: ota_esphome


packages:
  core: !include Core.yaml

