esphome:
  name: "${name}"
  friendly_name: Apollo MTR-1
  comment: Apollo MTR-1
  name_add_mac_suffix: true
  platformio_options:
    board_build.flash_mode: dio

  project:
    name: "ApolloAutomation.MTR-1"
    version: "${version}"

  min_version: 2024.6.0
  on_boot:
    priority: -10
    then:
      - if:
          condition:
            - lambda: "return id(runTest);"
          then:
            - lambda: "id(testScript).execute();"
  
logger:

dashboard_import:
  package_import_url: github://ApolloAutomation/MTR-1/Integrations/ESPHome/MTR-1.yaml
  import_full_config: false

ota:
  - platform: esphome
    id: ota_default

wifi:
  power_save_mode: none
  ap:
    ssid: "Apollo MTR1 Hotspot"
    
web_server:
  port: 80

packages:
  core: !include Core.yaml
